.description {
  width: 300px;
}

.severity-low {
  background-color: #78aa7859;
}

.severity-medium {
  background-color: #ffa50040;
}

.severity-high {
  background-color: #db2f2f63;
}

@media screen and (max-width: 420px) {
  .description {
    width: 150px;
  }
}
